<section class="text-center text-lg-start text-muted" style="background: #E6FCF2; ">
    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-star" >
            <!-- Grid row -->
            <div class="row mt-3" >
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4"">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4" style="color:#186A3B; margin-top:20px">
                        <i class="fas fa-gem me-3"></i>KiwiSazón
                    </h6>
                    <img src="/img/logo2.png" class="img-fluid" />
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="margin-top:20px">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4" style="color:#186A3B;">Contacto</h6>
                    <p><i class="fas fa-home me-3"></i> Educación Tecnológica 34, Fracc. Universidad, 37800 Dolores Hidalgo Cuna de la Independencia Nacional, Gto.</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        abarrart@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 52 418 109 8812</p>
                    <p><i class="fas fa-print me-3"></i> + 52 428 567 8977</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
    <!-- Copyright -->
    <div class="text-center p-3 bg-dark" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="#">KiwiSazón.com</a>
    </div>
    <!-- Copyright -->


</section>