<style>
 .footer {
    background-color: #E6FCF2; /* Color de fondo */ 
  }   
</style>

<footer class="navbar navbar-expand-lg footer " >
    <div class="container">
      <h1>KiwiSazón</h1>
    </div>
    
  </footer>
  