<style>
  .navegador {
    background-color: #E6FCF2; /* Color de fondo */
  }

  .imagen {
    width: 100px; /* Tamaño de la imagen (ancho) */
    height: auto; /* Tamaño de la imagen (alto) (automático para mantener la proporción) */
  }
  .active{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
</style>

<div>
<nav class="navbar navbar-expand-lg navegador ">
  <div class="container-fluid ">
    <a class="navbar-brand" href="/">
      <img class="imagen" src="/img/logo2.png">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/registro">Iniciar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>
