<style>
  .navegador {
    background-color: #E6FCF2;
    /* Color de fondo */
  }

  .imagen {
    width: 50px;
    /* Tama침o de la imagen (ancho) */
    height: auto;
    /* Tama침o de la imagen (alto) (autom치tico para mantener la proporci칩n) */
  }

  .active {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
</style>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light navegador">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <% if(loginUser){ %>
        <% if(loginUser.rol == "user"){ %>
          <a class="navbar-brand mt-2 mt-lg-0" href="/home">
            <img src="/img/logo2.png" height="30" alt="MDB Logo" loading="lazy" />
          </a>
        <% } else { %>
          <a class="navbar-brand mt-2 mt-lg-0" href="/adminHome">
            <img src="/img/logo2.png" height="30" alt="MDB Logo" loading="lazy" />
          </a>
        <% } %>

        <% }else{ %>
          <a class="navbar-brand mt-2 mt-lg-0" href="/">
            <img src="/img/logo2.png" height="30" alt="MDB Logo" loading="lazy" />
          </a>
          <% } %>
          <!-- Left links -->
          <% if(loginUser){ %>
            <% if(loginUser.rol == "user"){ %>
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="/recetas/Todas las Recetas">Recetas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/chef">Chef</a>
                </li>
              </ul>
            <% } else { %>
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="/adminHome">Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/adminRecetas">Validar recetas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/adminCategorias">Categorias</a>
                </li>
              </ul>
            <% } %>
            <% }else{ %>
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/receta/Todas las Recetas">Recetas</a>
                </li>
              </ul>
            <% } %>

            <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <a class="text-reset me-3" href="#">
        <i class="fas fa-heart"></i>
      </a>

      <!-- Avatar -->
      <div class="dropdown">
        <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar"
          role="button" data-mdb-toggle="dropdown" aria-expanded="false">
      <!-- Navbar brand -->
      <% if(loginUser){ %>

          <% if(loginUser.image==null) { %>
            <img
              src="https://toppng.com/uploads/preview/app-icon-set-login-icon-comments-avatar-icon-11553436380yill0nchdm.png"
              class="rounded-circle" height="35" alt="Black and White Portrait of a Man" loading="lazy" />
            <% }else{ %>
              <img style="margin-left: 0.5rem;" src="<%= loginUser.image%>" class="rounded-circle" height="45" alt=""
                width="45" loading="lazy" alt="Not Found" />
              <% } %>
        <% }else{ %>
          <img
            src="https://toppng.com/uploads/preview/app-icon-set-login-icon-comments-avatar-icon-11553436380yill0nchdm.png"
            class="rounded-circle" height="35" alt="Black and White Portrait of a Man" loading="lazy" />
          <% } %>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
          <!-- <li>
            <a class="dropdown-item" href="#">My profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Settings</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Logout</a>
          </li> -->
          <% if(loginUser){ %>
            <li>
              <a class="dropdown-item" href="#">
                <%=loginUser.email%>
              </a>
            </li>

            <li>
              <a class="dropdown-item" href="/misRecetas">Mis Recetas</a>
            </li>
            <li>
              <a class="dropdown-item" href="/logout">Cerrar Sesion</a>
            </li>
            <% }else{ %>
              <li>
                <a class="dropdown-item" href="/registro">Registrarse</a>
              </li>
              <li>
                <a class="dropdown-item" href="/login">Iniciar Sesion</a>
              </li>
            <% } %>
        </ul>
      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->