<%- include('../partials/head') %>
<!DOCTYPE html>
<html>
  <head>
    <title>HOME</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('../partials/nav') %>
    
    <h1>KIWISAZON</h1>
    <p>KIWISAZON WEB</p>
  </body>
</html>
