<%- include('../partials/head') %>  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas</title>
</head>
<body >
    <%- include('../partials/nav') %>
    <h1>LOGIN</h1>
    <h2><%=loginUser.username%></h2>
</body>
</html>