<%- include('../partials/head') %>  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <% if (banderanoti == true) { %>
        <div class="alert alert-primary" role="alert">
            <%= variableNoti %>
        </div>
        <% }else{ %>
            <div class="alert alert-success" role="alert">
                Sin noti
            </div>
            <% } %>
    <h1>Hola cheft</h1>
    <h2><%=loginUser.username%></h2>

</body>
</html>